@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: rgb(30,30,30);
}


.container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header.header {
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    margin-top: 8rem;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

header.header .header-contenido h1 {
    font-size: 3em;
    margin: 0 0 20px;
}

header.header .header-contenido p.descripcion {
    font-size: 1.2em;
    margin: 0;
}

/* Navigation */
.navigation {
    
    height: 70px;
    background: rgb(30,30,30);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-movil {
    display: none;
    cursor: pointer;
}

.nav-movil span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: #333;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    position: relative;
}

.nav-menu a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.nav-menu a:hover {
    background: #3d3d3d;
    border-radius: 6px;
}

.nav-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-submenu a {
    padding: 0.5rem 1rem;
}

.nav-menu li:hover .nav-submenu {
    display: block;
}
.detalle-metodo {
    background-color: rgb(30,30,30);
    padding: 50px 0;
    
}

.detalle-metodo .recuadro {
    background: #333;
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin: 1rem;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 250px;
}

.detalle-metodo .recuadro:nth-child(even) .recuadro-imagen {
    order: 2;
}

.detalle-metodo .recuadro-imagen {
    flex: 1 1 40%;
    padding: 20px;
}

.detalle-metodo .recuadro-imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.detalle-metodo .recuadro-contenido {
    flex: 1 1 60%;
    padding: 20px;
}

.detalle-metodo .recuadro-contenido h2 {
    margin-top: 0;
}

.detalle-metodo .recuadro-contenido ul {
    padding-left: 20px;
}

.detalle-metodo .recuadro-contenido ul li {
    margin-bottom: 10px;
}

section {
    padding: 4rem;
    text-align: center;
    
}

section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

footer .footer-contenido {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .footer-section {
    flex: 1;
    margin: 1rem;
    min-width: 200px;
}

footer .footer-section h2 {
    margin-bottom: 1rem;
}

footer .social a {
    color: #fff;
    margin: 0 0.5rem;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-movil {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
    }

    .nav-menu.nav-menu-visible {
        display: flex;
    }

    .nav-menu li {
        width: 100%;
    }

    .nav-submenu {
        position: static;
    }

    .nav-submenu a {
        padding-left: 2rem;
    }

    .footer-contenido {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 20px;
    }


    .detalle-metodo .recuadro {
        flex-direction: column;
    }

    .detalle-metodo .recuadro-imagen,
    .detalle-metodo .recuadro-contenido {
        flex: 1 1 100%;
    }
    .header h1 {
        font-size: 2rem;
    }

    .header p {
        font-size: 1rem;
    }

    p {
        padding: 30px;
    }
}
